* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-weight: bold;
}

.forecast {
	font-size: 0.9em;
}

span {
	font-size: 1em;
}

li:hover {
	background-color: lightslategray;
	text-decoration: underline;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.red {
	background-color: red;
}
